@font-face {
  font-family: 'Ravagh';
  src: url('ravagh/Ravagh-ExtraLight.woff2') format('woff2'),
       url('ravagh/Ravagh-ExtraLight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravagh';
  src: url('ravagh/Ravagh-Light.woff2') format('woff2'),
       url('ravagh/Ravagh-Light.woff') format('woff');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravagh';
  src: url('ravagh/Ravagh-Regular.woff2') format('woff2'),
       url('ravagh/Ravagh-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravagh';
  src: url('ravagh/Ravagh-Medium.woff2') format('woff2'),
       url('ravagh/Ravagh-Medium.woff') format('woff');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravagh';
  src: url('ravagh/Ravagh-SemiBold.woff2') format('woff2'),
       url('ravagh/Ravagh-SemiBold.woff') format('woff');
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravagh';
  src: url('ravagh/Ravagh-Bold.woff2') format('woff2'),
       url('ravagh/Ravagh-Bold.woff') format('woff');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravagh';
  src: url('ravagh/Ravagh-ExtraBold.woff2') format('woff2'),
       url('ravagh/Ravagh-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Ravagh';
  src: url('ravagh/Ravagh-Black.woff2') format('woff2'),
       url('ravagh/Ravagh-Black.woff') format('woff');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}
